<section class="slice slice-lg sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-user style-1 rounded has-shadow-1">
          <div class="form-header text-center">
            <h2 class="form-header-title"><b>新規登録</b></h2></h2>
          </div>
          <div class="form-body">
            <%= form_with model: @user, url: user_registration_path, id: "new_user", class: "new_user", local: true do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
                <div class="form-group">
                  <label class="control-label sr-only" for="inputName">Name</label>
                  <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"名前" %>
                </div>
                <div class="form-group">
                  <label class="control-label sr-only" for="inputEmail">Email</label>
                  <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
                </div>
                <div class="form-group">
                  <label class="control-label sr-only" for="inputPassword">Password</label>
                  <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
                </div>
                <div class="form-group">
                  <label class="control-label sr-only" for="inputConfirmPassword">Password</label>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"確認用パスワード" %>
                </div>
                <%= f.submit "新規登録", class:"btn btn-primary btn-block btn-base-1 mt-20" %>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
