<% post.post_comments.each do |post_comment| %>
  <li class="comment">
    <div class="comment-body bb">
      <div class="comment-avatar">
        <div class="avatar">
          <%= link_to user_path(post_comment.user) do %>
				    <%= attachment_image_tag(post_comment.user, :image, :fill, 60, 60, fallback: "no-image.jpg") %>
				    <%= post_comment.user.name %></b>
				  <% end %>
        </div>
      </div>
      <div class="comment-text">
        <div class="comment-author clearfix">
          <span class="comment-meta">
            <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
          </span>
        </div>
        <div class="comment-entry"><%= post_comment.comment %></div>
        <% if post_comment.user == current_user %>
          <div>
          	<%= link_to "delete", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger", remote: true %>
          </div>
        <% end %>
      </div>
    </div>
  </li>
<% end %>