<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="user-info">
        <%= attachment_image_tag @user, :image, :fill, 130, 130, fallback: "no-image.jpg" %>
      </div>
      <div class="profile-name">
        <b><%= @user.name %></b>
      </div>
      <!--フォロー機能-->
      <%= render 'users/follow', user: @user %>
      <!---->
      <div class="border"></div>
      <p class="profile-heading"><b>Profile</b></p>
      <p class="profile-intro"><b><%= @user.profile %></b></p>
      <div class="profile-edit">
        <% if @user == current_user %>
			   <div><%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-primary btn-block btn-base-1 mt-20" %></div>
			   <div class="output-button"><%= link_to "アウトプット（投稿する）", new_post_path(@post), class:"btn btn-success btn-block btn-base-1 mt-20" %></div>
		  	<% end %>
      </div>
      <div class="border"></div>
      <!--カレンダー機能-->
        <%= render 'events/calendar', user: @user, event: @event %>
      <!---->
      <!-- カレンダー編集 -------------------------------------------------->
        <div id="inputEditForm">
          <%= render 'events/edit', events: @events %>
        </div>
        <script>
        // CRUDを行う際にCSRF対策のtokenを発行
          $(document).ready(function() {
          var prepare = function(options, originalOptions, jqXHR) {
            var token;
            if (!options.crossDomain) {
              token = $('meta[name="csrf-token"]').attr('content');
              if (token) {
                return jqXHR.setRequestHeader('X-CSRF-Token', token);
              }
            }
          };
          }
          )
          // カレンダー表示
          $('#calendar').fullCalendar ({
              header: {
                  left: 'prev,next today',
                  center: 'month,agendaWeek,agendaDay',
                  right: 'title'
              },
              buttonText: {
                    prev: "<",
                    next: ">"
              },
              timezone: 'UTC',
              events: '/users/events.json',
              navLinks: true,
              selectable: true,
              selectHelper: true,
              // 日付クリック
              dayClick : function ( date , jsEvent , view ) {
                  $('#inputScheduleForm').modal('show');
                  },

              // event クリックで編集、削除
              eventClick : function(event, jsEvent , view) {
                  jsEvent.preventDefault();
                  $(`#inputScheduleEditForm${event.id}`).modal('show');
              },

              eventMouseover : function(event, jsEvent , view) {
                  jsEvent.preventDefault();
              }
          })
        </script>
      <!-------------------->
    </div>
    <div class="col-lg-8">
      <div class="main-box">
        <% @posts.each do |post| %>
         <div class="sentence-image">
				   <%= link_to post_path(post) do %>
		  		    <%= attachment_image_tag post, :image, :fill, 270, 270, format: 'jpeg' %>
		  	 	  <% end %>
		  		  <div class="sentence"><b><%= post.sentence %></b></div>
		     </div>
		  	<% end %>
			</div>
    </div>
  </div>
</div>