<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="profile-image">
        <%= attachment_image_tag @user, :image, :fill, 50, 50, fallback: "no-image.jpg" %>
      </div>
      <div class="profile-name">
        <%= @user.name %>
      </div>
      <!--フォロー機能追加予定-->
      <%= render 'users/follow', user: @user %>

      <p class="profile">Profile</p>
      <p class="profile-intro"><%= @user.profile %></p>
      <div class="profile-edit">
        <% if @user == current_user %>
			   <div><%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %></div>
			   <div><%= link_to "Output", new_post_path(@post), class: "btn btn-primary" %></div>
		  	<% end %>
      </div>
      <!--カレンダー機能追加予定-->
    </div>
    <div class="col-lg-9">
      <% @posts.each do |post| %>
        <div class="sentence-image">
				  <%= link_to post_path(post) do %>
		  		  <%= attachment_image_tag post, :image, :fill, 50, 50, format: 'jpeg' %>
		  		<% end %>
  	  	</div>
				<div class="sentence"><%= post.sentence %></div>
			<% end %>
    </div>
  </div>
</div>