<div class="container">
  <div class="row">
    <div class="col-lg-4">

      <div>
        <% if flash[:notice] %>
          <p id="notice" style="color: #00ff7f;"><%= notice %></p>
        <% end %>
      </div>

      <div class="user-info">
        <%= attachment_image_tag @user, :image, fallback: "no-image.jpg", size:"200x200" %>
      </div>
      <div class="profile-name">
        <b><%= @user.name %></b>
      </div>
      <!--フォロー機能-->
      <%= render 'users/follow', user: @user %>
      <!---->
      <div class="border"></div>
      <p class="profile-heading"><b>プロフィール</b></p>
      <p class="profile-intro"><b><%= @user.profile %></b></p>
      <div class="profile-edit">
        <% if @user == current_user %>
			   <div><%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-info btn-block btn-base-1 mt-20" %></div>
			   <div class="output-button"><%= link_to "アウトプット（投稿する）", new_post_path(@post), class:"btn btn-success btn-block btn-base-1 mt-20" %></div>
		  	<% end %>
      </div>
      <div class="border"></div>

      <!--カレンダー機能-->
      <div class="calendar-render">
        <%= render 'events/calendar', user: @user, event: @event %>
      </div>
      <!---->
      <!-- カレンダー編集 -------------------------------------------------->
      <div id="inputEditForm">
        <%= render 'events/edit', events: @events %>
      </div>
      <script>
        // CRUDを行う際にCSRF対策のtokenを発行
        $(document).ready(function() {
          var prepare = function(options, originalOptions, jqXHR) {
            var token;
            if (!options.crossDomain) {
              token = $('meta[name="csrf-token"]').attr('content');
              if (token) {
                return jqXHR.setRequestHeader('X-CSRF-Token', token);
              }
            }
          };
          }
          )
          // カレンダー表示
          $('#calendar').fullCalendar ({
              header: {
                  left: 'prev,next today',
                  center: 'month',
                  right: 'title'
              },
              buttonText: {
                    prev: "<",
                    next: ">"
              },
              timezone: 'JST',
              events: '/users/<%= @user.id %>',
              navLinks: true,
              selectable: true,
              selectHelper: true,
              titleFormat: 'YYYY年 M月',
                height: 450,
                //曜日を日本語表示
                dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                //ボタンのレイアウト
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                //終了時刻がないイベントの表示間隔
                defaultTimedEventDuration: '03:00:00',
                buttonText: {
                    prev: '前月',
                    next: '翌月',
                    prevYear: '前年',
                    nextYear: '翌年',
                    today: '今日',
                    month: '月',
                    week: '週',
                    day: '日'
                },
                // Drag & Drop & Resize
                editable: true,
                //イベントの時間表示を２４時間に
                timeFormat: "HH:mm",
                //イベントの色を変える
                eventColor: '#49C4A6',
                //イベントの文字色を変える
                eventTextColor: '#FFFFFF',
              // 日付クリック
              dayClick : function ( date , jsEvent , view ) {
                  $('#inputScheduleForm').modal('show');
                  },

              // event クリックで編集、削除
              eventClick : function(event, jsEvent , view) {
                  jsEvent.preventDefault();
                  console.log('event', event.id)
                  $(`#inputScheduleEditForm${event.id}`).modal('show');
              },

              eventMouseover : function(event, jsEvent , view) {
                  jsEvent.preventDefault();
              }
        })
      </script>
      <!-------------------->
    </div>
    <div class="col-lg-8">
      <h2 class="about-learghing"><b><%= @user.name %>の投稿</b></h2>
      <div class="main-box">
        <% @posts.each do |post| %>
          <div class="sentence-image">
				    <%= link_to post_path(post) do %>
		  		    <%= attachment_image_tag post, :image, class:"sentence-picture", format: 'jpeg' %>
		  	 	  <% end %>
		  		  <div class="sentence"><b><%= post.sentence %></b></div>
		       </div>
		  	<% end %>
			</div>
			<% if @user == current_user %>
			  <div class="favorited-post">
          <h2 class="about-learghing"><b><%= @user.name %>のいいね一覧</b></h2>
          <div class="main-box">
            <% @user.favorited_posts.each do |post| %>
              <div class="sentence-image">
				        <%= link_to post_path(post) do %>
		  		        <%= attachment_image_tag post, :image, class:"sentence-picture", format: 'jpeg' %>
		  	 	      <% end %>
		  		      <div class="sentence"><b><%= post.sentence %></b></div>
		          </div>
		  	    <% end %>
			    </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
