<div class="container">
  <div class="row">
    <div class="col-lg-10">
	    <% @posts.each do |post| %>
        <div class="container">
  	      <div class="user_info">
	  		    <%= link_to user_path(post.user) do %>
				      <%= attachment_image_tag post.user, :image, :fill, 50, 50, fallback: "no-image.jpg" %>
				    <% end %>
			      <%= post.user.name %>
  		    </div>
				  <div class="sentence-image">
				    <%= link_to post_path(post) do %>
		  		    <%= attachment_image_tag post, :image, :fill, 50, 50, format: 'jpeg' %>
		  		  <% end %>
  	  	  </div>
				  <div class="sentence"><%= post.sentence %></div>
				  <div class="favorite-btn"><%#= render "favorites/favorite-btn", post: post %></div>
				  <div class="comments-count">コメント数: <%= post.post_comments.count %></div>
				</div>
			<% end %>
		 </div>
  </div>
</div>