<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <%= form_with model: @post, local:true do |f| %>
        <div class="field row">
          <%= f.label :image, "写真", class: "label" %>
          <%= f.attachment_field :image, class: "input" %>
        </div>
        <div class="field row">
          <%= f.label :sentence %>
          <%= f.text_area :sentence, class: 'col-xs-12 post-sentence' %>
        </div>

        <div class="field row">
          <%= f.label :meaning %>
          <%= f.text_area :meaning, class: 'col-xs-12 post-meaning' %>
        </div>

        <div class="field row">
          <%= f.label :explanation %>
          <%= f.text_area :explanation, class: 'col-xs-12 post-explanation' %>
        </div>

        <div class="actions row">
          <%= f.submit class: 'btn btn-primary col-xs-12' %>
        </div>
      <% end %>
    </div>
  </div>
</div>