<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h2>detail</h2>
        <table class="table">
		      <tr id="post_<%= @post.id %>">
		        <td>
				      <%= link_to user_path(@post.user) do %>
				        <%= attachment_image_tag(@post.user, :image, :fill, 100, 100, fallback: "no-image.jpg") %><br>
				      <% end %>
				      <%= @post.user.name %>
				    </td>
				    <td><%= attachment_image_tag @post, :image, :fill, 50, 50, format: 'jpeg' %></td>
				    <td><%= @post.sentence %></td>
						<td><%= @post.meaning %></td>
             <!--非同期通信-->
			      <td class="favorite-btn"><%= render 'favorites/favorite-btn', post: @post %></td>
						<td class="comments-count">コメント数: <%= @post.post_comments.count %></td>

						<% if @post.user == current_user %>
						  <td><%= link_to "Edit", edit_post_path(@post), class: "btn-sm btn-success" %></td>
						  <td><%= link_to "Destroy", post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %></td>
						<% end %>
				  </tr>
						</table>
						<!--コメント投稿機能-->
						<%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
						  <div class="row">
						    <div class="col-lg-12">
						      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
						    </div>
						  </div>
						  <%= f.submit "Post", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
						<% end %>
						<!---->
						<ol class="post_comments">
					    <%= render "post_comments/index", post: @post %>
					  </ol>