<div>
  <div class="form-header text-center">
    <h2 class="form-header-title"><b>お問い合わせ(確認用)</b></h2>
  </div>
  <%= form_with model: @inquiry, url: inquiry_thanks_path, local: true do |f| %>
    <table class="table-layout" border="1">
      <thead>
        <tr>
          <th class="th-layout">名前</th>
          <th class="th-layout">メールアドレス</th>
          <th class="th-layout">お問い合わせ内容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="search-info">
            <%= f.hidden_field :name %>
            <%= @inquiry.name %>
          </td>
          <td class="search-info">
            <%= f.hidden_field :email %>
            <%= @inquiry.email %>
          </td>
          <td>
            <%= f.hidden_field :message %>
            <%= simple_format(@inquiry.message) %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="inquiry-submit"><%= f.submit "送信", class:"btn btn-success btn-block btn-base-1 mt-20" %></div>
  <% end %>
</div>
